# Google AI Studio Gemini API Key (Optional - UI allows entering it directly as well)
VITE_GEMINI_API_KEY=AIzaSyYourGeminiApiKeyHere

# Application Title & Environment
VITE_APP_ENV=production
VITE_APP_TITLE=SATYA-ID National Forensic Screening System
